**/node_modules
**/dist
**/build
**/www
**/.angular
**/coverage
**/__pycache__
**/.venv
**/venv
**/.pytest_cache
**/.ruff_cache
**/.git
**/.env
**/.env.*
!**/.env.example
**/.terraform
**/*.tfstate*
**/.vscode
**/.idea
*.log
